@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    @apply p-0 m-0
}




body{
    @apply h-[100vh] w-[100vw] overflow-x-hidden transition-all duration-300
}
.listSideActive{
    @apply bg-[#004646] w-[90%] rounded-3xl cursor-pointer p-2 flex my-2 justify-center text-white items-center  stroke-white
}

.listSideNormal{
    @apply  w-[90%] rounded-3xl cursor-pointer p-2 flex my-2 justify-center items-center hover:bg-[#004646] hover:text-white transition-all duration-100 stroke-black
}

.listSideNormal:hover path {
  stroke: white;

  

}
.btnAction1{
    @apply flex w-[10%]  items-center justify-evenly border p-2 rounded-sm  border-[#004646] text-[#004646] hover:bg-[#004646] hover:text-white stroke-white transition-all duration-100
}
.btnAction2{
    @apply flex w-[10%]  items-center justify-evenly border p-2 bg-[#004646] rounded-sm text-white
}
img{
    @apply cursor-pointer
}


/* -----------------------------------------------  Shining Effect for Plan Cards ---------------------------------------------------------*/
.plans-card2 {
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plans-card2:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 40px rgba(0, 255, 255, 0.4), 0 0 60px rgba(0, 255, 255, 0.2); 
    border: 1px solid white;
}

.plans-card2::before, .plans-card2::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 200%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    transform: skewX(-30deg);
    transition: none;
    z-index: 1;
    
}

.plans-card2::before {
    left: -150%; 
     
}

.plans-card2::after {
    left: -250%; 
   
}

.plans-card2:hover::before {
    animation: shine 0.75s forwards;
}

.plans-card2:hover::after {
    animation: shine-back 0.75s forwards 0.3s; 
}

@keyframes shine {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

@keyframes shine-back {
    0% {
        left: -250%; 
    }
    100% {
        left: -150%; 
    }
}


.plans-card1 {
    
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plans-card1:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 40px rgba(0, 255, 255, 0.4), 0 0 60px rgba(0, 255, 255, 0.2); 
}


.leftAuth img{
    @apply absolute h-[100vh]
}